[Unit]
Description=http_get_cmd.py
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/http_get_cmd.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
